@import "modules/var";
@import "modules/reset";
@import "modules/global";

@import "modules/header";
@import "modules/cap";
@import "modules/promo";
@import "modules/categories";
@import "modules/advantages";
@import "modules/subscribe";
@import "modules/footer";

@import "modules/catalog";
@import "modules/product";
@import "modules/cart";
@import "modules/registration";

@import "modules/animations";
