.promo {
  background: #f1e4e6;
  height: 764px;
  margin-bottom: 65px;

  &__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url(../img/hero.png) no-repeat -212px 0;
  }

  &__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    width: 50%;
    display: flex;
    justify-content: center;

    & h1 {
      border-left: 12px solid #f16d7f;
      padding-left: 16px;
      width: 406px;
    }

    & span {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }

    & .decor {
      color: #f16d7f;
    }
  }
}
