*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol,
summary {
  list-style: none;
}

details {
  display: block;
}

summary {
  cursor: pointer;

  &::-webkit-details-marker {
    /* нестандартный псевдоэлемент Google Chrome */
    display: none;
  }
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: #000000; /* Цвет линии для остальных браузеров */
  background-color: #000000; /* Цвет линии для браузера Firefox и Opera */
  height: 1px;
}
